# IDE
.idea
*.iml
.vscode
*.swp
*.swo
*~

# Node
node_modules
package-lock.json
yarn.lock

# Build
dist
*.js.map

# Obsidian
data.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Linter
.eslintcache


# main.js
main.js
styles.css